.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  box-sizing: border-box;
}
.mainContainer .left {
  width: calc(100% - 30%);
  overflow-y: scroll;
  overflow-y: visible;
  transition: all 0.3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
}
.mainContainer .left::-webkit-scrollbar {
  display: none;
}
.mainContainer .left .banner {
  height: 260px;
}
.mainContainer .left .banner {
  background-image: url("/images/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  position: relative;
}
.mainContainer .left .banner .textContainer {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.mainContainer .left .banner .textContainer h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 5px;
  line-height: 1.2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(to right, var(--textColor), var(--background));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainContainer .left .banner .textContainer h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 5px;
  line-height: 1.2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(to right, var(--textColor), var(--background));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainContainer .left .banner .textContainer p {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 5px 0;
  line-height: 1.2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(to right, var(--textColor), var(--background));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainContainer .left .banner .textContainer .bid {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.mainContainer .left .banner .textContainer .bid p {
  margin-left: 10px;
}
.mainContainer .left .banner .textContainer .bid p span {
  display: block;
  color: var(--btnColor);
}
/* Cards */
.mainContainer .left .cards {
  background-color: var(--mainBackground);
  padding: 10px;
  margin-top: 20px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.mainContainer .left .cards .filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}
.mainContainer .left .cards .filters .popular {
  display: flex;
  align-items: center;
}
.mainContainer .left .cards .filters .popular h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--textColor);
  margin-right: 10px;
}
.button2 {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--textColor);
  border: 2px solid #443b78;
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
  margin: 0px 5px;
}

/* CardMain */
.mainContainer .left .cards main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.mainContainer .left .cards main .card_main {
  background: var(--newBackground);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 260px;
  padding-bottom: 20px;
  margin: 15px 10px;
}
.mainContainer .left .cards main .card_main img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.mainContainer .left .cards main .card_main .card_main_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  margin-top: 10px;
}
.mainContainer .left .cards main .card_main .card_main_name h2 {
  color: var(--textColor);
  font-size: 16px;
  font-weight: bold;
}
.mainContainer .left .cards main .card_main .card_main_name .card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer .left .cards main .card_main .card_main_name .card_icon i {
  color: var(--btnColor);
  text-shadow: 3px 5px 20px rgba(0, 0, 0, 0.4);
  font-size: 12px;
}
.mainContainer .left .cards main .card_main .card_main_name .card_icon i span {
  color: var(--textColor);
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}
/* stats */
.stats {
  columns: 2;
  column-rule: 1px solid var(--styleColor);
  text-align: center;
  gap: 1rem;
  margin: 15px 0;
}
.stats p {
  color: var(--textColor);
  font-weight: bold;
  font-size: 12px;
}
.stats p span {
  display: block;
  color: var(--btnColor);
  font-size: 12px;
}
.card_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}
.card_button btn {
  font-size: 10px;
}

/* Right side */
.mainContainer .right {
  width: calc(100% - 70%);
  padding: 0px 10px;
  padding-left: 20px;
  padding-left: 20px;
  position: sticky;
  top: 15px; /* or whatever top offset you want */
  align-self: flex-start; /* Ensure it doesn't stretch with flex */
  height: fit-content; /* Let it wrap content if needed */
  transition: all 0.3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
}

.mainContainer .right .topCard,
.mainContainer .right .bottomRightCard {
  background-color: var(--mainBackground);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}
.mainContainer .right .topCard .topCard_name,
.mainContainer .right .bottomRightCard .bottomName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainContainer .right .topCard .topCard_name h2,
.mainContainer .right .bottomRightCard .bottomName h2 {
  color: var(--textColor);
}
.mainContainer .right .topCard .topCard_name a,
.mainContainer .right .bottomRightCard .bottomName a {
  color: var(--btnColor);
}
.mainContainer .right .topCard .earnings {
  width: 100%;
  padding: 5px 10px;
}
.mainContainer .right .topCard .earnings p {
  display: flex;
  margin: 8px 0;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--textColor);
  font-weight: bold;
}
.mainContainer .right .topCard .earnings p:nth-child(odd) {
  background: var(--newBackground);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.mainContainer .right .topCard .earnings p:last-child span {
  font-size: 14px;
  color: var(--btnColor);
}
/* Bottom Right */
.mainContainer .right .bottomRightCard {
  margin-top: 15px;
}

.mainContainer .right .bottomRightCard .topSeller {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.mainContainer .right .bottomRightCard .topSeller .topSellerImg {
  width: 45px;
  height: 45px;
  background: #252041;
  border-radius: 50%;
  overflow: hidden;
}
.mainContainer .right .bottomRightCard .topSeller .topSellerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainContainer .right .bottomRightCard .topSeller .topSellerName {
  font-size: 14px;
  color: var(--textColor);
  font-weight: bold;
  margin-left: 10px;
}
.mainContainer .right .bottomRightCard .topSeller .topSellerName span {
  display: block;
  font-size: 12px;
}
.mainContainer .right .bottomRightCard .topSeller .btn {
  font-size: 10px;
  margin-left: auto;
}

@media screen and (max-width: 525px) {
  .mainContainer {
    flex-direction: column;
    height: auto;
  }
  /* Main Left */
  .mainContainer .left {
    width: 100%;
  }
  .mainContainer .left .banner .textContainer h1 {
    font-size: 1.75em;
  }
  .mainContainer .left .banner .textContainer h2 {
    font-size: 1em;
  }
  .mainContainer .left .cards .filters .filter_buttons {
    display: none;
  }
  .mainContainer .left .cards main .card_main {
    max-width: 400px;
  }
  /* Main right */
  .mainContainer .right {
    width: 100%;
    padding: unset;
    margin-top: 20px;
  }
}

@media screen and (min-width: 525px) and (max-width: 950px) {
  .mainContainer {
    height: calc(100% - 25px);
  }
  .mainContainer .left {
    width: calc(100% - 35%);
  }
  .mainContainer .right {
    width: calc(100% - 65%);
  }
  .mainContainer .left .cards main .card_main {
    max-width: 230px;
    margin: 20px 5px;
  }
  .mainContainer .left .cards .filters {
    padding: 0;
  }

  .mainContainer .right .topCard .earnings {
    padding: 0;
  }
  .maincontainer .right .bottom_card .topSeller .topSellerImg {
    width: 30px;
    height: 30px;
  }

  .maincontainer .right .bottom_card .topSeller {
    margin: 20px 0;
  }

  .maincontainer .right .bottom_card .topSeller .button {
    font-size: 8px;
  }
}
