:root {
  --mainBackground: #19162c;
  --appBackground: #121026;
  --styleColor: #8c8a95;
  --hoverColor: #c01c22;
  --hoverFont: #53eded;
  --textColor: #d0cfd4;
  --placeHolders: #757380;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
